@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

@layer components {
  .roboto-regular {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
  }
  .roboto-bold {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
  }
}

@layer base {
  body {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
    @apply roboto-regular bg-clr-neutral-600 text-clr-neutral-900
  }
  p { font-size: 16px }
}